'atom-workspace':
  'cmdorctrl-F': 'search-panel:project-show'
  'cmdorctrl-f': 'search-panel:show'
  'cmdorctrl-alt-f': 'search-panel:show-replace'

'atom-text-editor':
  'cmdorctrl-g': 'search-panel:find-next'
  'cmdorctrl-G': 'search-panel:find-previous'
  'cmd-ctrl-g': 'search-panel:select-all'
  'cmdorctrl-alt-e': 'search-panel:replace-next'
  'f3': 'search-panel:find-next'
  'shift-f3': 'search-panel:find-previous'
  'alt-f3': 'search-panel:select-all'
  'cmdorctrl-f3': 'search-panel:find-next-selected'
  'cmdorctrl-shift-f3': 'search-panel:find-previous-selected'
  'cmdorctrl-d': 'search-panel:select-next'
  'cmdorctrl-e': 'search-panel:use-selection-as-find-pattern'
  'cmdorctrl-shift-e': 'search-panel:use-selection-as-replace-pattern'
  'cmdorctrl-u': 'search-panel:select-undo'
  'cmdorctrl-k cmdorctrl-d': 'search-panel:select-skip'

'.search-panel':
  'shift-enter': 'search-panel:show-previous'
  'cmdorctrl-enter': 'search-panel:confirm'
  'alt-enter': 'search-panel:find-all'
  'cmdorctrl-alt-/': 'search-panel:toggle-regex-option'
  'cmdorctrl-alt-c': 'search-panel:toggle-case-option'
  'cmdorctrl-alt-s': 'search-panel:toggle-selection-option'
  'cmdorctrl-alt-w': 'search-panel:toggle-whole-word-option'
  'ctrl-shift-c': 'search-panel:toggle-case-option'

'.search-panel-project':
  'cmdorctrl-enter': 'search-panel:project-confirm'
  'cmdorctrl-alt-/': 'search-panel:project-toggle-regex-option'
  'cmdorctrl-alt-c': 'search-panel:project-toggle-case-option'
  'cmdorctrl-alt-w': 'search-panel:project-toggle-whole-word-option'
  'ctrl-shift-c': 'search-panel:project-toggle-case-option'

'.search-panel, .search-panel-project, .search-panel-project .results-view':
  'tab': 'search-panel:focus-next'
  'shift-tab': 'search-panel:focus-previous'

'.search-panel, .search-panel-project':
  'cmdorctrl-shift-x': 'search-panel:clear'

'.search-panel .replace-container atom-text-editor':
  'cmdorctrl-enter': 'search-panel:replace-all'
'.search-panel-project .replace-container atom-text-editor':
  'cmdorctrl-enter': 'search-panel:project-replace-all'

'.results-view':
  'home': 'core:move-to-top'
  'ctrl-home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
  'ctrl-end': 'core:move-to-bottom'
